# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL Languages

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

In [1]:
|Data Science Tools|
|------------------|
|Rstudio|
|Jupyter Notebooks|
|JupyterLab|

SyntaxError: invalid syntax (1741600227.py, line 1)

|Data Science Tools|
|------------------|
|Rstudio|
|Jupyter Notebooks|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In this notebook, Data Science Tools and Ecosystem are summarized
**Objectives:**
- List popular languages for Data Science
- Convert minutes to hours
- Multiply and add numbers

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- Convert minutes to hours
- Multiple and add numbers

## Author
Luis